@use '../../sass/abstracts/' as *;

.cart {
  @include position($pos: fixed, $top: 0, $right: 0);
  width: 90vw;
  height: 100%;
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
  padding: 2rem;
  z-index: 1000;
  overflow-y: scroll;

  @include respond(sm) {
    width: 70%;
  }

  @include respond(md) {
    width: 50vw;
  }

  @include respond(lg) {
    width: 30%;
  }

  &__heading {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__total-amount {
    font-size: 1.3rem;
    margin: 3rem 0;
  }
}

.close {
  @include position($pos: absolute, $top: 2rem, $right: 2rem);
  font-size: 1.5rem;
  cursor: pointer;
}

.empty {
  font-size: 2rem;
  padding: 5rem 2rem;
}
