@use '../../sass/abstracts/' as *;

.cart {
  @include position($pos: absolute, $top: 8rem, $right: 0);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-black);
  padding: 2rem;
  z-index: 1000;

  &__heading {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__total-amount {
    margin: 3rem 0;
  }
}

.empty {
  font-size: 2rem;
  padding: 5rem 2rem;
}
