@use '../../sass/abstracts/' as *;

.cart-item {
  @include flex-config($align: center);
  margin-top: 5rem;
}

.product-img {
  width: 5rem;
}

.product-details {
  @include flex-config($direction: column);
  padding: 0 2rem 0 5rem;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__price {
    font-size: 1.3rem;
  }

  &__amount {
    padding: 1rem 0;
    font-weight: 700;
  }

  &__counter {
    padding: 1rem 0;
  }

  &__remove-product {
    color: #ff0000;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 1.3rem;
  }
}
