@use '../../sass/abstracts/' as *;

.product-wrapper {
  height: 100%;
  @include flex-config($direction: column, $justify: space-between);
  padding: 3rem 2rem 2rem 2rem;
}

.product-info {
  margin-top: 3rem;
}

.product-img {
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}
