@use '../../sass/abstracts/' as *;

.product-wrapper {
  @include flex-config($direction: column, $justify: space-between);
  height: 100%;
  padding: 3rem 2rem 2rem 2rem;
}

.product-info {
  margin-top: 3rem;
}
