@use '../../sass/abstracts/' as *;

.slide-container {
  @include flex-config($align: center);
  height: 100%;
  margin: 0 auto;
  background-color: var(--clr-gray-light);
  margin-right: 1rem;
}

.cta-wrapper {
  margin-left: 1rem;

  @include respond(md) {
    margin: 0 auto;
  }
}

.swiper-heading-primary {
  font-size: 2rem;
  font-weight: 400;
}

.swiper-heading-secondary {
  font-size: 4rem;
  margin: 2rem 0 3rem 0;
}

.cta-btn {
  margin-top: 2rem;
}

.img {
  margin: 0 auto;
}
