@use '../../sass/abstracts/' as *;

.slide-container {
  position: relative;
  @include flex-config($align: center);
  height: 100%;
  margin: 0 auto;
  background-position: right;
  background-repeat: no-repeat;
  background-color: var(--clr-gray-light);

  /*  @include respond(lg) {
    width: 80%;
  } */

  &--1 {
    background-image: url('../../assets/images/man1.jpg');
  }

  &--2 {
    background-image: url('../../assets/images/man1.jpg');
  }

  &--3 {
    background-image: url('../../assets/images/man1.jpg');
  }
}

.cta-wrapper {
  margin-left: 1rem;
}

.swiper-heading-primary {
  font-size: 2rem;
  font-weight: 400;
}

.swiper-heading-secondary {
  font-size: 4rem;
  margin: 2rem 0 3rem 0;
}
