@use '../../sass/abstracts/' as *;

.slide-container {
  @include flex-config($direction: column, $align: center);
  height: 100%;
  background-color: var(--clr-gray-light);
  margin-right: 1rem;

  @include respond(md) {
    flex-direction: row;
  }
}

.cta-wrapper {
  margin: 0 auto;
}

.swiper-heading-primary {
  font-size: clamp(2.5rem, 2vw + 0.1rem, 4rem);
  margin: 2rem 0 3rem 0;
}

.cta-btn {
  @include flex-config($justify: center);
  margin: 2rem 0;

  @include respond(md) {
    justify-content: flex-start;
  }
}

.img {
  margin: 0 auto;
}
