@use '../../sass/abstracts/' as *;

.nav {
  position: relative;
  @include flex-config($display: flex, $justify: space-between, $align: center);

  @include respond(sm) {
    padding: 1rem 0;
  }

  @include respond(lg) {
    padding: 3rem 0;
  }

  &__logo {
    width: 10rem;

    @include respond(md) {
      width: 15rem;
    }
  }
}

.counter {
  @include position($pos: absolute, $top: 1.3rem, $right: 5rem);
}

.slide-enter {
  transform: translateY(-100%);
}
.slide-enter-active {
  transform: translateY(0);
  transition: transform 300ms;
}
.slide-exit-active {
  transform: translateY(-100%);
  transition: transform 300ms;
}

.slide-enter-right {
  transform: translateX(100%);
}
.slide-enter-right-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.slide-exit-right-active {
  transform: translateX(100%);
  transition: transform 300ms;
}
