@use '../../../sass/abstracts/' as *;

.modal {
  @include flex-config($direction: column, $align: center);
  @include position($pos: fixed, $top: 50%, $left: 50%);
  height: 90vh;
  width: 80%;
  background-color: var(--clr-white);
  color: var(--clr-black);
  transform: translate(-50%, -50%);
  padding: 3rem 4rem;
  overflow: auto;
  z-index: 1001;
}

.close-modal-icon {
  @include position($pos: absolute, $top: 1rem, $right: 1rem);
  font-size: 2rem;
  cursor: pointer;
}

.product {
  @include flex-config($direction: column, $align: center);
  margin-top: 5rem;

  &__img {
    width: 30rem;
  }

  &__title {
    font-weight: normal;
    margin-top: 5rem;
  }

  &__price {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
