@use '../../../sass/abstracts/' as *;

.modal {
  @include flex-config(
    $direction: column,
    $align: center,
    $justify: space-around
  );
  @include position($pos: fixed, $top: 50%, $left: 50%);
  height: 90vh;
  width: 90vw;
  background-color: var(--clr-white);
  color: var(--clr-black);
  transform: translate(-50%, -50%);
  padding: 3rem 4rem;
  overflow-y: scroll;
  z-index: 1001;

  @include respond(lg) {
    width: 50%;
  }
}

.close-modal-icon {
  @include position($pos: absolute, $top: 1rem, $right: 1rem);
  font-size: 2rem;
  cursor: pointer;
}

.product {
  @include flex-config($direction: column, $align: center);
  margin-top: 5rem;

  &__img {
    width: 20rem;
  }

  &__title {
    font-weight: normal;
    margin-top: 5rem;
  }

  &__price {
    padding-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.cta {
  @include flex-config($direction: column, $align: center);
  padding: 2rem;
}

.counter {
  padding: 2rem 0;
}

.product-added {
  font-size: clamp(1.5rem, 2vw + 0.1rem, 1.8rem);
  color: #007200;
}
