@use '../sass/abstracts/' as *;

.hero {
  background-color: var(--clr-gray-light);
  padding: 0 0.5rem;
}

.categories {
  display: grid;
  justify-content: center;
  grid-row-gap: 10rem;
  padding: var(--section-spacing) 0;

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
}

.products-heading {
  font-size: var(--clamped-heading);
  margin-top: 5rem;
  text-transform: uppercase;
  text-align: center;

  @include respond(sm) {
    text-align: start;
  }
}
