@use '../../../sass/abstracts/' as *;

.filter-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:not(:first-of-type) {
    margin-top: 2rem;

    @include respond(sm) {
      margin-top: 0;
    }
  }
}
