@use '../../../sass/abstracts/' as *;

.filter-list {
  @include flex-config(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );
  background-color: var(--clr-gray-medium);
  font-size: 1.5rem;
  padding: 5rem 1rem;

  @include respond(sm) {
    @include flex-config($direction: row, $justify: space-between);
    background-color: transparent;
  }

  @include respond(md) {
    width: 50%;
  }
}
