@use '../../../sass/abstracts/' as *;

.filter-btn {
  background-color: transparent;
  color: var(--clr-gray-dark);
  border: none;
  cursor: pointer;

  &:active {
    color: var(--clr-blue);
  }

  &:not(:first-of-type) {
    margin-top: 2rem;

    @include respond(sm) {
      margin-top: 0;
    }
  }
}
