@use '../../../sass/abstracts/' as *;

.filter-list {
  @include flex-config(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );
  font-size: 1.5rem;
  background-color: var(--clr-gray-medium);
  padding: 5rem 1rem;

  @include respond(sm) {
    @include flex-config($direction: row, $justify: space-between);
    background-color: transparent;
  }

  @include respond(md) {
    width: 50%;
  }

  &__item {
    background-color: var(--clr-gray-medium);
    cursor: pointer;
    border: none;

    &:not(:first-of-type) {
      margin-top: 2rem;

      @include respond(sm) {
        margin-top: 0;
      }
    }

    @include respond(sm) {
      background-color: transparent;
    }
  }
}
