*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements  default styling will be removed */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-blue: #717fe0;
  --clr-gray-light: #e6e6e6;
  --clr-gray-medium: #acabab;
  --clr-gray-dark: #222;
  --section-spacing: 7rem;
}
@media (min-width: 40em) {
  :root {
    --section-spacing: 10rem;
  }
}
@media (min-width: 64em) {
  :root {
    --section-spacing: 20rem;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
}
@media (min-width: 40em) {
  .container {
    max-width: 64rem;
  }
}
@media (min-width: 64em) {
  .container {
    max-width: 102.4rem;
  }
}
@media (min-width: 80em) {
  .container {
    max-width: 128rem;
  }
}
