@use '../../../sass/abstracts/' as *;

.footer {
  background-color: var(--clr-gray-dark);
  color: var(--clr-white);
  padding: 4rem 2rem;
}

.dsa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  flex-wrap: wrap;
}
