@use '../../sass/abstracts/' as *;

.nav-icons {
  width: 20%;
  margin-left: -5rem;

  @include respond(sm) {
    width: 20%;
  }

  @include respond(md) {
    width: 10%;
  }

  @include flex-config($display: flex, $justify: space-around, $align: center);
  margin-right: 6rem;
  font-size: 2rem;

  @include respond(sm) {
    margin: 0;
  }

  &__search {
    cursor: pointer;
  }

  &__cart {
    position: relative;
    cursor: pointer;
    padding: 1rem;
  }

  &__hamburger {
    @include position($pos: absolute, $right: 1.5rem);
    z-index: 20;

    @include respond(sm) {
      display: none;
    }
  }
}

.number {
  position: absolute;
  right: -0.5rem;
}
