@use '../../sass/abstracts/' as *;

.nav-links {
  @include position($pos: fixed, $top: 0, $left: 0);
  @include flex-config(
    $direction: column,
    $justify: space-evenly,
    $align: center
  );
  width: 100vw;
  height: 50vh;
  background-color: rgb(201, 201, 201);
  z-index: 5;

  @include respond(sm) {
    position: static;
    height: auto;
    flex-direction: row;
    background-color: transparent;
  }

  &__link {
    font-size: clamp(1.5rem, 0.8vw + 0.1rem, 1.7vw);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

a {
  color: var(--clr-gray-dark);
}

.active {
  border-bottom: 0.2rem solid var(--clr-blue);
  padding-bottom: 0.3rem;
  color: var(--clr-blue);
}
