@use '../../sass/abstracts/' as *;

.top-header {
  position: relative;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 1.5rem;
  padding: 1.5rem 0;
  display: none;

  @include respond(lg) {
    display: block;
  }
}
