.cart-counter-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.cart-counter {
  display: flex;
  margin: 0 auto;
  margin: 2rem auto;
}

.quantity-input {
  width: 3rem;
  padding: 0.8rem 0rem;
  border: none;
  background-color: var(--clr-gray-medium);
  text-align: center;
}
