@use '../../sass/abstracts/' as *;

.cart-counter-wrapper {
  @include flex-config($direction: column);
}

.cart-counter {
  display: flex;
}

.quantity-input {
  width: 3rem;
  background-color: var(--clr-gray-medium);
  padding: 0.8rem 0rem;
  border: none;
  text-align: center;
}
