@use '../../sass/abstracts/' as *;

.card-wrapper {
  position: relative;

  &__heading {
    @include position($pos: absolute, $top: 1rem, $left: 1rem);
    font-size: clamp(1.8rem, 2vw + 0.1rem, 2.2rem);
  }

  &__subheading {
    @include position($pos: absolute, $top: 4rem, $left: 1rem);
    font-size: clamp(1.5rem, 0.7vw + 0.1rem, 2rem);
    font-weight: normal;
  }
}
